{% extends 'base.html' %}

{% block content %}

<style>

  #board {
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 10%;
      border: 5px solid silver;
      padding: 30px;
  }
</style>
  <div id="board">
    <form action="{% url 'board:edit' board.id %}" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
        <input type="text" class="form-control" aria-label="Sizing example input" value="{{board.user.username}}" aria-describedby="inputGroup-sizing-default" disabled>
  
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">날짜</span>
        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ board.created_at|date:'Y-m-d'}}" disabled>
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
        <input type="text" class="form-control" name="title" aria-label="Sizing example input" value="{{board.title}}" aria-describedby="inputGroup-sizing-default">
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
        <textarea class="form-control" name="content" aria-label="With textarea" style="height: 200px;">{{board.content}}</textarea>
      </div>
      <button class="btn btn-outline-warning col-5" style="margin-left: 30px;">수정</button>
      <a class="btn btn-outline-danger col-5" data-bs-toggle="modal" data-bs-target="#deleteModal" style="margin-left: 30px;">삭제</a>
    </form>
 
</div>
<div id="deleteModal" class="modal" tabindex="-1" >
  <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body">
          <p>정말로 글을 삭제하시겠습니까?</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
          <form action="{% url 'board:remove' board.id %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-outline-danger">삭제</button>
          </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
