{% extends 'base.html' %}


{% block content %}
  <style>
    #board {
          margin-left: 30%;
          margin-right: 30%;
          margin-top: 15%;
          border: 10px solid silver;
          padding: 30px;
      }   
  </style>
  
  <div id="board">
    <div id="row gap-3">
      <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
            <div class="col-12"> 
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="user-id" placeholder="아이디">
                    <label for="user-id">아이디</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="user-password" placeholder="비밀번호">
                    <label for="user-password">비밀번호</label>
                </div>
            </div>  
            <button type="submit" class="btn btn-secondary mb-2 btn-lg col-12">로그인</button>

        </form>
    </div>
    <!-- <a href="{% url 'users:kakao-login' %}"><button type="button" class="btn btn-warning mb-3   btn-lg col-12">카카오 로그인</button></a> -->
    <a href="{% url 'users:signup' %}"><button type="button" class="btn btn-dark btn-lg col-12">회원가입</button></a>
</div>
{% endblock %}